/* index.blade.php */
.index-header{
    background-color: #87888e;
    
}

.antialiased{
    background-color: black;
}

.index-top-title{
    height: 400px;
    background-image:url(../img/sample.jpeg);
    background-size: 25% 50%;
}

.index-title{
    font-size:10rem;
    text-align: center;
    padding-top: 50px;
}

.index-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top:1.5rem;
    margin-bottom:20px;
    gap:1.5rem;
}

.index-top-contents{
    margin-bottom: 3rem;
    margin-top:3rem;
}




.index-subtitle{
    font-size: 3rem;
    margin:0.5rem 0px;
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
    color:white;
}


.index-container{
    display: grid;
    grid-template-rows:50px 125px 75px 200px;
    grid-template-columns:60% 40%;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaB areaD"
        "areaE areaE";
        border-radius:1.5rem;
        background-color:black;
        border-style:solid;
        border-width: 0.25rem;
        border-color: white;
        
}
.index-item-clubname{
    grid-area:areaA;
}

.index-item-image{
    grid-area:areaB;
}

.index-item-sport{
    grid-area:areaC;
}

.index-item-place{
    grid-area:areaD;
}

.index-item-activity{
    grid-area:areaE;
}

.index-image{
    width :90%; 
    height: 180px;
    border-radius:1.5rem;
    margin-left: 1rem;
}

.index-clubname{
    margin:0px 0px;
    font-size:2rem;
    color:white;
}

.index-sport{
    margin:0px 0px;
    color:white;
}

.index-place{
    color:white;
}

.index-title-sport{
    font-size:1.5rem;
    margin:0px 0px;
    border-bottom-style:groove;
    border-bottom-width: 0.25rem;
    color:white;
}

.index-title-place{
    font-size:1.5rem;
    margin:0px 0px;
    border-bottom-style:groove;
    border-bottom-width: 0.25rem;
    color:white;
}

.index-title-activity{
    font-size:1.5rem;
    margin:0px 0px;
    border-bottom-style:groove;
    border-bottom-width: 0.25rem;
    color:white;
}

.index-activity{
    margin:0px 0px;
    color:white;
}

.hit-title{
    font-size:1rem;
    margin:0.5rem 0px;
    color:white;
}

.hit-sport-title{
    color:white;
}

.hit-label{
    color:white;
}

.index-hit-button{
   margin-left: 80%;
   margin-top:2rem;
}

.hit-area-title{
    margin:0.5rem;
    color:white;
}

.user-link{
    float: right;
    margin-right: 5%;
    font-size:2rem;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    color:white;
}

.host-link{
    float: left;
    margin-left:5%;
    font-size:2rem;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    color:white;
}



.index-main-sub-title{
    width:40%;
}

.hit-titem-title{
    grid-area:areaA;
}

.hit-title-form{
    grid-area:areaB;
}
/* create.blade.php */

.create-title{
    font-size:5rem;
    text-align: center;
    
}

.create-subtitle{
    font-size: 2rem;
}

.create-name{
    width:40%;
    height: 35px;
}

.create-place{
    font-size:20px;
}

textarea{
    width: 40%;
    height: 40px;
}


/*edit.blade.php*/

.edit-title{
    font-size:5rem;
    text-align: center;
}

.edit-subtitle{
    font-size:2rem;
}

.edit-name{
    width:40%;
    height: 35px;
}

.edit-place{
    font-size:20px;
}


/*show.blade.php*/
.show-contents{
    display: flex;
}

article{
    width:55%;
    margin-right:3rem;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 0.25rem;
}

aside{
    width:45%;
}

.article-main-title{
    font-size:3rem;
    color:white;
}

.aside-contents{
     border-style: solid;
    border-width: 0.25rem;
    border-color: white;
    border-radius:1rem;
}

.show-container{
    border-style: solid;
    border-width: 0.5rem;
    border-color: white;
    border-radius:1.5rem;
    margin-left: 2rem;
    width: 90%;
}

.show-item{
    margin-left: 2rem;
    border-bottom-style: solid;
    border-width: 0.25rem;
    border-color: white;
}

.show-body{
    background-color: black;
}

.show-image{
    width:60%;
    height:auto;
    border-radius:1.5rem;
}
.aside-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
}

.aside-title{
    font-size: 1rem;
}

.aside-image{
    width: 90%;
    height:8rem;
    border-radius:1.5rem;
}

.show-clubname-title{
    color:white;
}

.show-image-title{
    color:white;   
}

.show-sport-title{
    color:white;
}

.show-place-title{
    color:white;
}

.show-activity-title{
    color:white;
}

.show-condition-title{
    color:white;
}

.show-insta-title{
    color:white;
}

.show-insta{
    width: 125px;
    height: 125px;
    
}

.show-clubname-title{
    font-size:3rem;
    margin:0px 0px;
}

.show-image-title{
    font-size:1.75rem;
    margin:1rem 0px;
}

.show-sport-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-place-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-activity-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-condition-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-user-title{
    color:white;
}

.show-sport{
    font-size:1.25rem;
    color:white;
}

.show-place{
    font-size:1.25rem;
    color:white;
}

.show-activity{
     font-size:1.25rem;
     margin:0.25rem 0px;
     color:white;
}

.show-condition{
     font-size:1.25rem;
     margin:0.25rem 0px;
     color:white;
}

.show-user{
    color:white;
}

.aside-main-title{
    color:white;
    font-size:3rem;
}

.aside-title{
    color:white;
    font-size:1.5rem;
    margin:0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.aside-link{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
    border-color: white;
}

.aside-subtitle{
    color:white;
}

.aside-activity{
    color:white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}



/*host.blade.php*/
.host-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1.5rem;
    margin-bottom:1rem ;
}

.host-container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 150px 150px 50px;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaB areaC"
        "areaB areaD"
        "areaE areaE"
        "areaF areaF"
        "areaG areaH";
    border-style: ridge;
    border-width:10px;
}

.host-title{
    font-size:5rem;
    text-align: center;
    margin:0;
    position: absolute;
    bottom:40%;
    left:30%;
    color: red;
}

.host-subtitle{
    font-size:3rem;
}

.host-title-image{
    display: block;
	width: 100%;
    
}

.host-title-box{
    position: relative;
}

.host-clubname{
    border-bottom-style: ridge;
    border-width: 10px;
    
}

.host-image{
   
    width: 90%;
    height: 275px;
    border-radius:1.5rem;
}

.host-item-path{
    grid-area:areaB;
}

.host-item-clubnmae{
    grid-area:areaA;
}
.host-sport-title{
    margin:0.5rem 0px;
    border-bottom-style: ridge;
    border-width: 10px;
}

.host-item-sport{
    grid-area:areaC;
   
}

.host-sport{
    font-size:1.5rem;
    margin:0px;
}

.host-item-place{
    grid-area:areaD;
    
}

.host-item-activity{
    grid-area:areaE;
}

.host-place-title{
    margin:0px 0px;
    border-bottom-style: ridge;
    border-width: 10px;
}

.host-place{
    margin:0px 0px;
    font-size:1.5rem;
}

.host-activity-title{
    margin:0.5rem 0px;
    border-bottom-style: ridge;
    border-width: 10px;
}

.host-activity{
    margin:0.5rem 0px;
    font-size:1rem;
}

.host-item-condition{
    grid-area:areaF;
}

.host-condition-title{
    margin:0.5rem 0px;
    border-bottom-style: ridge;
    border-width: 10px;
}

.host-condition{
    margin:0.5rem 0px;
    font-size:1rem;
}

.host-item-edit{
    grid-area:areaG;
}

.host-item-delete{
    grid-area:areaH;
}