/* index.blade.php */
.index-info{
    color:white;
}

.index-account{
    color:white;
}

.index-header{
    background-color: #87888e;
    
}

.antialiased{
    background-color: black;
    width:95%;
    margin:0 5%;
}

.index-top-title{
    height: 400px;
    background-image:url(../img/sample.jpeg);
    background-size: 25% 50%;
    margin-right:5%;
}

.index-title{
    font-size:10rem;
    text-align: center;
    padding-top: 50px;
}

.index-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    gap:1.5rem;
}

.index-top-contents{
    margin-bottom: 3rem;
    margin-top:3rem;
}




.index-subtitle{
    font-size: 3rem;
    margin:0.5rem 0px;
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
    color:white;
}


.index-container{
    display: grid;
    grid-template-rows:50px 125px 75px 200px;
    grid-template-columns:60% 40%;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaB areaD"
        "areaE areaE";
        border-radius:1.5rem;
        background-color:black;
        border-style:solid;
        border-width: 0.25rem;
        border-color: white;
        
}
.index-item-clubname{
    grid-area:areaA;
}

.index-item-image{
    grid-area:areaB;
}

.index-item-sport{
    grid-area:areaC;
}

.index-item-place{
    grid-area:areaD;
}

.index-item-activity{
    grid-area:areaE;
}

.index-image{
    width :90%; 
    height: 180px;
    border-radius:1.5rem;
    margin-left: 1rem;
}

.index-clubname{
    margin:0px 0px;
    font-size:1.75rem;
    color:white;
}

.index-sport{
    margin:0px 0px;
    color:white;
}

.index-place{
    color:white;
}

.index-title-sport{
    font-size:1.5rem;
    margin:0px 0px;
    border-bottom-style:solid;
    border-bottom-width: 0.25rem;
    color:white;
    display: inline-block;
}

.index-title-place{
    font-size:1.5rem;
    margin:0px 0px;
    border-bottom-style:solid;
    border-bottom-width: 0.25rem;
    color:white;
    display: inline-block;
}

.index-title-activity{
    font-size:1.5rem;
    margin:0px 0px;
    border-bottom-style:solid;
    border-bottom-width: 0.25rem;
    color:white;
    display: inline-block;
}

.index-activity{
    margin:0px 0px;
    color:white;
}

.hit-title{
    font-size:1rem;
    margin:0.5rem 0px;
    color:white;
}

.hit-sport-title{
    color:white;
}

.hit-label{
    color:white;
}

.index-hit-button{
   margin-left: 80%;
   margin-top:2rem;
}

.hit-area-title{
    margin:0.5rem;
    color:white;
}

.user-link{
    float: right;
    margin-right: 5%;
    font-size:2rem;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    color:white;
}

.host-link{
    float: left;
    font-size:2rem;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    color:white;
}



.index-main-sub-title{
    width:40%;
}

.hit-titem-title{
    grid-area:areaA;
}

.hit-title-form{
    grid-area:areaB;
}
/* create.blade.php */

.create-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.create-top-contents{
    height: 400px;
    background-image:url(../img/create.jpeg);
    background-size: 25% 50%;
}



.create-title{
    font-size:7.5rem;
    text-align: center;
    padding-top:7rem;
    
}

.create-subtitle{
    font-size: 2rem;
    margin:0.5rem 0;
    color:white;
}

.create-check{
    color:white;
}

.create-input-image{
    background-color: white;
    height: 7rem;
    width: 70%;
    border-radius: 1rem;
}

.create-container{
    display: grid;
    grid-template-rows:15rem 15rem 17rem 15rem;
    grid-template-columns:50% 50%;
    grid-template-areas:
        "areaA areaE"
        "areaB areaF"
        "areaC areaG"
        "areaD areaH";
}

.create-item-clubname{
    grid-area:areaA;
    margin-left: 10%;
}

.create-item-activity{
    grid-area:areaB; 
    margin-left: 10%;
}

.create-item-condition{
    grid-area:areaE;
    margin-right: 10%;
}


.create-item-sport{
    grid-area:areaC;
    margin-left: 10%;
}

.create-item-place{
    grid-area:areaD;
    margin-left: 10%;
}


.create-item-image{
    grid-area:areaG;
    margin-right: 10%;
}

.create-item-insta{
    grid-area:areaF;
    margin-right: 10%;
}

.create-item-input{
    grid-area:areaH;
    margin-right: 10%;
}

.create-place{
    font-size:20px;
}

.create-textarea{
    width: 70%;
    height: 7rem;
    border-radius: 1rem;
}
.create-check{
   display:block;
}

br{
    display: none;
}


/*edit.blade.php*/

.edit-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.edit-top-contents{
    height: 400px;
    background-image:url(../img/edit.jpeg);
    background-size: 25% 50%;
}



.edit-title{
    font-size:7.5rem;
    text-align: center;
    padding-top:7rem;
    
}

.edit-subtitle{
    font-size: 2rem;
    margin:0.5rem 0;
    color:white;
}

.edit-check{
    color:white;
}

.edit-input-image{
    background-color: white;
    height: 7rem;
    width: 70%;
    border-radius: 1rem;
}

.edit-container{
    display: grid;
    grid-template-rows:15rem 15rem 17rem 15rem;
    grid-template-columns:50% 50%;
    grid-template-areas:
        "areaA areaE"
        "areaB areaF"
        "areaC areaG"
        "areaD areaH";
}

.edit-item-clubname{
    grid-area:areaA;
    margin-left: 10%;
}

.edit-item-activity{
    grid-area:areaB; 
    margin-left: 10%;
}

.edit-item-condition{
    grid-area:areaE;
    margin-right: 10%;
}


.edit-item-sport{
    grid-area:areaC;
    margin-left: 10%;
}

.edit-item-place{
    grid-area:areaD;
    margin-left: 10%;
}


.edit-item-image{
    grid-area:areaG;
    margin-right: 10%;
}

.edit-item-insta{
    grid-area:areaF;
    margin-right: 10%;
}

.edit-item-input{
    grid-area:areaH;
    margin-right: 10%;
}

.edit-place{
    font-size:20px;
}

.edit-textarea{
    width: 70%;
    height: 7rem;
    border-radius: 1rem;
}
.edit-check{
   display:block;
}


/*show.blade.php*/
.res-show-contents{
    display: none;
}

.show-contents{
    display: flex;
}

article{
    width:55%;
    margin-right:3rem;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 0.25rem;
}

aside{
    width:45%;
}

.article-main-title{
    font-size:3rem;
    color:white;
}

.aside-contents{
     border-style: solid;
    border-width: 0.25rem;
    border-color: white;
    border-radius:1rem;
}

.show-container{
    border-style: solid;
    border-width: 0.5rem;
    border-color: white;
    border-radius:1.5rem;
    margin-left: 2rem;
    width: 90%;
}

.show-item{
    margin-left: 2rem;
    border-bottom-style: solid;
    border-width: 0.25rem;
    border-color: white;
}

.show-body{
    background-color: black;
}

.show-image{
    width:60%;
    height:auto;
    border-radius:1.5rem;
}
.aside-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
}

.aside-title{
    font-size: 1rem;
}

.aside-image{
    width: 90%;
    height:8rem;
    border-radius:1.5rem;
}

.show-clubname-title{
    color:white;
}

.show-image-title{
    color:white;   
}

.show-sport-title{
    color:white;
}

.show-place-title{
    color:white;
}

.show-activity-title{
    color:white;
}

.show-subtitle{
    color:white;
    font-size:2rem;
}

.show-condition-title{
    color:white;
}

.show-insta-title{
    color:white;
}

.show-insta{
    width: 125px;
    height: 125px;
    
}

.show-clubname-title{
    font-size:2.5rem;
    margin:0px 0px;
}

.show-image-title{
    font-size:1.75rem;
    margin:1rem 0px;
}

.show-sport-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-place-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-activity-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-condition-title{
    font-size:1.75rem;
    margin:0px 0px;
}

.show-user-title{
    color:white;
}

.show-sport{
    font-size:1.25rem;
    color:white;
}

.show-place{
    font-size:1.25rem;
    color:white;
}

.show-activity{
     font-size:1.25rem;
     margin:0.25rem 0px;
     color:white;
}

.show-condition{
     font-size:1.25rem;
     margin:0.25rem 0px;
     color:white;
}

.show-user{
    color:white;
}

.aside-main-title{
    color:white;
    font-size:3rem;
}

.aside-title{
    color:white;
    font-size:1.5rem;
    margin:0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.aside-link{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
    border-color: white;
}

.aside-subtitle{
    color:white;
}

.aside-activity{
    color:white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}



/*host.blade.php*/

.host-header{
    display:flex;
    justify-content: space-between;
}

.host-create-link{
    font-size:2rem;
    margin-top: 1rem;
    margin-left: 10%;
    color:white;
}

.host-member-link{
    font-size:2rem;
    margin-top: 1rem;
    margin-right: 15%;
    color:white;
}

.host-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.host-top-title{
    height: 400px;
    background-image:url(../img/host.jpeg);
    background-size: 25% 50%;
    margin-bottom: 3rem;
}

.host-title{
    font-size:7rem;
    text-align: center;
    padding-top: 6rem;
}

.host-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1.5rem;
    margin-bottom:1rem ;
}

.host-container {
    display: grid;
    grid-template-rows: 6.5rem 6.5rem 6.5rem 6.5rem 10rem 12rem 3rem;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaB areaC"
        "areaB areaD"
        "areaE areaE"
        "areaF areaF"
        "areaG areaH";
    border-style:solid;
    border-width: 0.25rem;
    border-color: white;
    border-radius: 1.5rem;
}

.host-main-title{
    font-size:4rem;
    color:white;
}

.host-clubname{
    border-bottom-style:solid;
    border-width:0.25rem;
    border-bottom-color: white;
    display: inline-block;
    color:white;
    
}

.host-image{
    width: 90%;
    height: 16rem;
    border-radius:1.5rem;
}

.host-item-path{
    grid-area:areaB;
}

.host-item-clubname{
    grid-area:areaA;
    margin-left:5%;
}
.host-sport-title{
    margin:0.5rem 0px;
    
}

.host-item-sport{
    grid-area:areaC;
   
}

.host-sport{
    font-size:1.5rem;
    margin:0px;
    color:white;
}

.host-item-place{
    grid-area:areaD;
    
}

.host-item-activity{
    grid-area:areaE;
     margin-left:5%;
}

.host-place-title{
    margin:0px 0px;
    
}

.host-place{
    margin:0px 0px;
    font-size:1.5rem;
    color:white;
}

.host-activity-title{
    margin:0.5rem 0px;
    
}

.host-activity{
    margin:0.5rem 0px;
    font-size:1rem;
    color:white;
}

.host-item-condition{
    grid-area:areaF;
     margin-left:5%;
}

.host-condition-title{
    margin:0.5rem 0px;
    
}

.host-condition{
    margin:0.5rem 0px;
    font-size:1rem;
    color:white;
}

.host-item-edit{
    grid-area:areaG;
    color:white;
}

.host-item-delete{
    grid-area:areaH;
}

.host-subtitle{
    color:white;
    border-bottom-style: solid;
    border-width: 0.25rem;
    border-bottom-color: white;
    display: inline-block;
}

/*モバイル対応*/

@media screen and (max-width:600px) {
    
    /*index.blade.php*/
    
    .antialiased{
        width:100%;
        margin:0;
    }
    
   .host-link{
       font-size:1rem;
       margin-top:0;
        margin-bottom: 0;
   } 
    
    .user-link{
        font-size:1rem;
        margin-top:0;
        margin-bottom: 0;
    }
    
    .index-title{
        font-size:2rem;
    }
    
    .index-top-title{
        height: 10rem;
        background-image:url(../img/subindex.jpeg);
        background-size: 50% 50%;
        margin-top:3rem;
        
    }
    
    .index-subtitle{
        font-size:1.25rem;
        border-bottom-width: 0.25rem;
    }
    
    .hit-sport-title{
        margin:0.5rem;
    }
    
    .hit-label{
        font-size:0.5rem;
    }
    
    .index-info{
        font-size:0.75rem;
        margin:0.5rem;
    }
    
    .index-grid {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
   .index-clubname{
       font-size:1.25rem;
   }
   
   .index-title-sport{
       font-size:1rem;
   }
   
   .index-title-activity{
       font-size:1rem;
   }
   
   .index-title-place{
       font-size:1rem;
   }
   
   .index-sport{
       font-size:0.75rem;
   }
   
   .index-place{
       font-size:0.75rem;
   }
   
   .index-activity{
       font-size:0.75rem;
       overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
   }
   
   .index-image{
       height: 90px;
       width:50%;
   }
   
   .index-container{
    display: grid;
    grid-template-rows:1.75rem 6rem 2.5rem 6.25rem;
    grid-template-columns:60% 40%;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaB areaD"
        "areaE areaE";
   }
    
    /*host-blade-php*/
    
    .host-body{
        width: 100%;
        margin:0;
    }
    
    .host-top-title{
        height: 10rem;
        background-image:url(../img/subhost.jpeg);
        background-size: 50% 50%;
        margin-top:3rem;
        
    }
    
    .host-create-link{
        font-size:1rem;
        margin:0;
    }
    
    .host-member-link{
        font-size:1rem;
        margin:0;
    }
    
    .host-header{
        display:flex;
        flex-flow: column;
    }
    
    .host-title{
        font-size:2rem;
        padding-top:3.25rem;
        margin:0;
    }
    
    .host-top-title{
        margin:1rem 0;
    }
    
    .host-main-title{
        font-size:1.25rem;
    }
    
    .host-grid {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .host-clubname{
        font-size:1.25rem;
    }
    
    .host-subtitle{
        font-size:1rem;
        margin:0.25rem 0;
    }
    
    .host-sport{
        font-size:0.75rem;
    }
    
    .host-place{
        font-size:0.75rem;
    }
    
    .host-activity{
        font-size:0.75rem;
        margin:0;
    }
    
    .host-condition{
        font-size:0.75rem;
        margin:0;
    }
    
    .host-image{
        height:8rem;
        width: 60%;
    }
    
    .host-container {
    display: grid;
    grid-template-rows: 3.75rem 3.25rem 3.25rem 3.25rem 8rem 8rem 1.75rem;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaB areaC"
        "areaB areaD"
        "areaE areaE"
        "areaF areaF"
        "areaG areaH";
    }    
    
    .host-edit{
        font-size:0.75rem;
        margin-left: 10%;
        color:white;
    }
    
    .host-delete{
        height: 80%;
    }
    
    
    
    /*create.blade.php*/
    
    .create-body{
        width: 100%;
        margin:0;
    }
    
    .create-top-contents{
        height: 10rem;
        background-size: 50% 50%;
        margin:0;
        
    }
    
    .create-title{
        font-size:2rem;
        padding-top: 3.5rem;
    }
    
    .create-container{
        display:flex;
        flex-flow: column;
}

    .create-subtitle{
        font-size:1.5rem;
    }
    
    .create-textarea{
        width:90%;
        height: 6rem;
    }
    
    br{
        display: inline;
    }
    
    .create-item-image{
        margin-left: 10%;
        margin-right: 0;
    }
    
    .create-item-condition{
        margin-left: 10%;
        margin-right: 0;
    }
    
    .create-item-insta{
        margin-left: 10%;
        margin-right: 0;
    }
    
    .create-input-image{
        height: 3rem;
        width: 90%;
    }
    
    /*edit-blade.php*/
    
    .edit-body{
        width: 100%;
        margin:0;
    }
    
    .edit-top-contents{
        height: 10rem;
        background-size: 50% 50%;
        margin:0;
        
    }
    
    .edit-title{
        font-size:2rem;
        padding-top: 3.5rem;
    }
    
    .edit-container{
        display:flex;
        flex-flow: column;
}

    .edit-subtitle{
        font-size:1.5rem;
    }
    
    .edit-textarea{
        width:90%;
        height: 6rem;
    }
    
    br{
        display: inline;
    }
    
    .edit-item-image{
        margin-left: 10%;
        margin-right: 0;
    }
    
    .edit-item-condition{
        margin-left: 10%;
        margin-right: 0;
    }
    
    .edit-item-insta{
        margin-left: 10%;
        margin-right: 0;
    }
    
    .edit-input-image{
        height: 3rem;
        width: 90%;
    }
    
    /*show.blade.php*/
    
    .show-contents{
        display: none;
    }
    
    .res-show-contents{
        display: inherit;   
    }
    
    .res-main-title{
        color:white;
        font-size:3rem;
    }
    
    .res-show-clubname-title{
        color:white;
        font-size:1.35rem;
    }
    
    .res-show-subtitle{
        color:white;
        font-size:1.5rem;
        margin:0.5rem 0 0.5rem 5%;
    }
    
    .res-show-image{
        width:85%;
        height:auto;
        border-radius: 1.5rem;
        margin-left: 5%;
    }
    
    .res-show-sport{
        color:white;
        font-size:1.25rem;
        margin:0.5rem 0 0.5rem 5%;
    }
    
    .res-show-place{
        color:white;
        font-size:1.25rem;
        margin:0.5rem 0 0.5rem 5%;
    }
    
    .res-show-activity{
        color:white;
        font-size:1rem;
        margin:0.5rem 0 0.5rem 5%;
    }
    
    .res-show-condition{
        color:white;
        font-size:1rem;
        margin:0.5rem 0 0.5rem 5%;
    }
    
    .res-main-container{
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-style: solid;
        border-width: 0.25rem;
        border-color: white;
        border-radius:1.5rem;
    }
    
    .res-show-user{
        font-size:1.25rem;
        color:white;
        margin:0.5rem 0 0 5%;
    }
    
    .res-show-insta{
        width:5rem;
        height: 5rem;
    }
    
    
    .res-aside-main-title{
        color:white;
        font-size:2rem;
        border-top-color: white;
        border-width: 0.5rem;
        border-top-style: dotted;
        margin:2.5rem 0 2.5rem 0;
    }
    
    .res-aside-contents{
        display: grid;
        grid-template-rows:5rem 10rem;
        grid-template-columns:1fr 1fr ;
        grid-template-areas:
            "areaA areaA"
            "areaB areaC";
        border-style: solid;    
        border-width: 0.25rem;
        border-color: white;
        border-radius:1.5rem;
        margin-top: 1rem;
    }    
    
   .res-aside-item-name{
       grid-area:areaA;
   }
    
    .res-aside-item-image{
        grid-area:areaB;
    }
    
    .res-aside-item-activity{
        grid-area:areaC;
    }
    
    .res-aside-subtitle{
        color:white;
        font-size:1.25rem;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 0.25rem;
        display: inline;
    }
    
    .res-aside-activity{
        color:white;
        font-size:0.75rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }
    
    .res-aside-title{
        color:white;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 0.25rem;
        border-color: white;
        display: inline;
    }
    
 
}

/*タブレット・小型PC*/

  @media only screen and (min-width:601px) and (max-width:1280px) {
/*tablet用のcssを記述*/

/*index.blade.php*/
    
    .host-link{
        font-size:1.5rem;
    }
    
     .user-link{
        font-size:1.5rem;
    }
    
    .index-top-title{
    height: 300px;
    background-size: 33% 50%;
    margin-right:5%;
    margin-top:5rem;
    }
    
    .index-title{
        font-size:4.5rem;
        padding-top: 5rem;
    }
    
    .index-subtitle{
        font-size:2.25rem;
    }
    
    .index-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-right: 1rem;
    gap:1rem;
    }
    
    .index-container{
    display: grid;
    grid-template-rows:3.5rem 8rem 5rem 13rem;
    grid-template-columns:50% 50%;
    }
    
    .index-title-sport{
        font-size:1rem;
    }
    
    .index-title-place{
        font-size:1rem;
    }
    
    .index-image{
        width:90%;
        height: 7rem;
        margin-top:2rem;
        margin-left: 0.5rem;
    }
    
    .index-activity{
        font-size:0.85rem;
    }
    
    .index-clubname{
        font-size:1.5rem;
    }
    
    /*host.blade.php*/
    .host-body{
        margin-right: 0;
    }
    
    
    .host-header{
        display:flex;
        flex-direction:column;
    }
    
    .host-create-link{
        font-size:1.75rem;
        margin-left: 0;
    }
    
    .host-member-link{
        font-size:1.75rem;
       
    }
    
    .host-top-title{
    height: 300px;
    background-size: 33% 50%;
    margin-top:2rem;
    margin-bottom: 1rem;
    }
    
    .host-title{
        font-size:4.5rem;
        margin-top:0;
    }
    
    .host-main-title{
        font-size:2rem;
        margin:1rem 0;
    }
    
    
    .host-container {
    display: grid;
    grid-template-rows: 4rem 4.5rem 3.5rem 6.5rem 12rem 12rem 3rem;
    grid-template-columns: 60% 40%;
    }
    
    .host-clubname{
        font-size:1.25rem;
        margin:0.25rem 0;
    }
    
    .host-subtitle{
        font-size:1rem;
        margin:0.25rem 0;
    }
    
    .host-sport{
        font-size:0.85rem;
    }
    
    .host-place{
        font-size:0.85rem;
    }
    
    .host-image{
        height: 10rem;
        margin-top: 3rem;
        margin-left: 0.5rem;
    }
    
    .host-activity{
        font-size:0.85rem;
    }
    
    .host-condition{
        font-size:0.85rem;
    }

}

    
    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

