
/*member.blade.php*/
.member-body{
    background-color:black;
    width:90%;
    margin:0 5%;
}

.member-top-title{
    height: 400px;
    background-image:url(../img/member.jpeg);
    background-size: 25% 50%;
}

.member-title{
    text-align: center;
    padding-top:7rem;
    font-size:7.5rem;
}

.member-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:1.25rem;
}

.member-container{
    display:grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:75px 50px 250px 175px;
    grid-template-areas:
    "areaA areaB"
    "areaA areaC"
    "areaD areaD"
    "areaE areaE";
    border-style:solid;
    border-width:0.25rem;
    border-color: white;
    border-radius: 1.5rem;
}

.member-active-item-create{
    grid-area:areaC;
}

.member-user-item-name{
    grid-area:areaB;
}

.member-profile-item-image{
    grid-area:areaA;
}

.member-profile-image{
    width :80px; 
    height:80px;
    border-radius: 50%; 
    background-position: center; 
}

.member-active-item-image{
    grid-area:areaD;
    margin-left:5%;
}

.member-image{
    width:90%;
    height: 200px;
    border-radius:1.5rem;
}

.member-active-item-activity{
    grid-area:areaE;
    width:90%;
    margin-left: 5%;
    
}

.member-subtitle{
    margin:0.25rem 0;
    color:white;
    margin-left:5%;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
}

.member-active-activity{
    margin:0.25rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    
}

.member-hit{
    margin-bottom: 2rem;
    margin-top:3rem;
}

.member-user-name{
    font-size:1.5rem;
    margin:0.5rem 0;
    color:white;
}

.member-active-create{
    color:white;
}

.member-active-activity{
    color:white;
}

.member-hit-title{
    color:white;
    font-size:3rem;
    border-bottom-style:solid;
    border-width: 0.5rem;
    border-color: white;
}

.member-research{
    width: 20%;
}

.back-div{
        display:flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    
    .back-member{
        font-size:1.5rem;
        color:white;
    }
    
    .back-index{
        font-size:1.5rem;
        color:white;
    }

/*profile.blade.php*/

.profile-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.profile-top-contents{
    height: 400px;
    background-image:url(../img/profile.jpeg);
    background-size: 25% 50%;
}



.profile-title{
    font-size:7.5rem;
    text-align: center;
    padding-top:7rem;
    
}

.profile-subtitle{
    font-size: 2rem;
    margin:0.5rem 0;
    color:white;
}

.profile-input-image{
    background-color: white;
    height: 7rem;
    width: 70%;
    border-radius: 1rem;
}

.profile-container{
    display: grid;
    grid-template-rows:15rem 15rem 10rem 10rem;
    grid-template-columns:50% 50%;
    grid-template-areas:
        "areaA areaE"
        "areaB areaF"
        "areaC areaG"
        "areaD areaH";
}

.profile-item-name{
    grid-area:areaA;
    margin-left: 10%;
}

.profile-item-sport{
    grid-area:areaE; 
    margin-right: 10%;
}

.profile-item-profile{
    grid-area:areaB;
    margin-left: 10%;
}


.profile-item-image{
    grid-area:areaF;
    margin-right: 10%;
}

.profile-item-sex{
    grid-area:areaD;
    margin-left: 10%;
}


.profile-item-age{
    grid-area:areaC;
    margin-left: 10%;
}

.profile-item-place{
    grid-area:areaG;
    margin-right: 10%;
}

.profile-item-keep{
    grid-area:areaH;
    margin-right: 10%;
}

.profile-place{
    font-size:1.5rem;
}

.profile-age{
    font-size:1.5rem;
}

.profile-textarea{
    width: 70%;
    height: 7rem;
    border-radius: 1rem;
}

.radio-name{
    margin-left: 2rem;
    margin-right: 1rem;
    font-size:1.5rem;
    color:white;
}

.back-user{
    font-size:1.5rem;
    color:white;
}

br{
    display:none;
}

.profile-input{
    width:10rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.profile-item-keep{
    margin-right:0;    
}

.back-user{
    margin-left: 0;
}


/*remake.blade.php*/

.remake-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.remake-top-contents{
    height: 400px;
    background-image:url(../img/remake.jpeg);
    background-size: 25% 50%;
}



.remake-title{
    font-size:7rem;
    text-align: center;
    padding-top:7rem;
    
}

.remake-subtitle{
    font-size: 2rem;
    margin:0.5rem 0;
    color:white;
}

.remake-input-image{
    background-color: white;
    height: 7rem;
    width: 70%;
    border-radius: 1rem;
}

.remake-container{
    display: grid;
    grid-template-rows:15rem 15rem 10rem 10rem;
    grid-template-columns:50% 50%;
    grid-template-areas:
        "areaA areaE"
        "areaB areaF"
        "areaC areaG"
        "areaD areaH";
}

.remake-item-name{
    grid-area:areaA;
    margin-left: 10%;
}

.remake-item-sport{
    grid-area:areaE; 
    margin-right: 10%;
}

.remake-item-profile{
    grid-area:areaB;
    margin-left: 10%;
}


.remake-item-image{
    grid-area:areaF;
    margin-right: 10%;
}

.remake-item-sex{
    grid-area:areaC;
    margin-left: 10%;
}


.remake-item-age{
    grid-area:areaD;
    margin-left: 10%;
}

.remake-item-place{
    grid-area:areaG;
    margin-right: 10%;
}

.remake-item-update{
    grid-area:areaH;
    margin-right: 10%;
}

.remake-place{
    font-size:1.5rem;
}

.remake-age{
    font-size:1.5rem;
}

.remake-textarea{
    width: 70%;
    height: 7rem;
    border-radius: 1rem;
}

.remake-input{
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
}

/*user.blade.php*/

.user-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.profile-attention{
    font-size:0.725rem;
    color:white;
}

.profile-on{
    font-size:0.75rem;
    color:white;
}

.profile-attention-box{
    display:block;
    
}
/*プロフィール部分*/
.user-profile-container{
    display: grid;
    grid-template-rows:4rem 4rem 4rem 4rem 3rem;
    grid-template-columns:1fr 1fr 1fr 60%;
    grid-template-areas:
        "areaA areaB areaB areaG"
        "areaA areaC areaE areaG"
        "areaZ areaD areaF areaH"
        "areaZ areaX areaX areaH"
        "areaP areap areaQ areaQ";
        border-bottom-style:dotted;
        border-width: 0.25rem;
        border-color: white;
}

.user-profile-image{
    width :120px; 
    height:120px;
    border-radius: 50%; 
    background-position: center; 
    border-style: solid;
    border-width: 0.25rem;
    border-color: white;

}

.user-profile-item-image{
    grid-area:areaA;
}

.user-profile-item-name{
    grid-area:areaB;
}

.user-profile-item-sex{
    grid-area:areaC;
}

.user-profile-item-place{
    grid-area:areaD;
}

.user-profile-item-age{
    grid-area:areaE;
}

.user-profile-item-sport{
    grid-area:areaG;
}

.user-profile-item-profile{
    grid-area:areaH;
}

.user-profile-item-edit{
    grid-area:areaZ;
    margin-top:1rem;
}

.user-profile-item-active{
    grid-area:areaQ;
    margin-left: 60%;
}

.user-profile-edit{
    color:white;
}

.user-profile-info{
    font-size:0.75rem;
    margin: 0;
    color:white;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
}

.user-profile-sport{
    margin:0;
    color:white;
}

.user-profile-profile{
    margin:0;
    color:white;
}

.user-profile-name{
    color:white;
}

.user-profile-sex{
    color:white;
}

.user-profile-age{
    color:white;
}

.user-profile-place{
    color:white;
}


/*投稿部分*/

.user-main-title{
    font-size:3rem;
    color:white;
}

.user-main-contents{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    gap:1.5rem;
}

.user-active-container{
    display: grid;
    grid-template-columns:70% 30%;
    grid-template-rows:5rem 17.5rem 15rem 5rem;
    grid-template-areas:
    "area1 area4"
    "area2 area2"
    "area3 area3"
    "area5 area5";
    border-style:solid;
    border-width: 0.25rem;
    border-color: white;
    border-radius:1.5rem;
}

.user-active-item-create{
    grid-area:area1;
}

.user-active-item-activity{
    grid-area:area3;
}

.user-active-item-image{
    grid-area:area2;
}

.user-active-item-edit{
    grid-area:area4;
}

.user-active-item-delete{
    grid-area:area5;
    margin-left: 60%;
}

.user-active-image{
    width: 85% ;
    height: 14rem;
    margin-left: 5%;
    border-radius:1.5rem;
    margin-top: 0.5rem;
}

.user-active-subtitle{
    margin:0;
    margin-left: 5%;
    color:white;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
}

.user-create-subtitle{
    margin:0;
    margin-left: 5%;
    color:white;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
}

.user-active-create{
    color:white;
}

.user-active-activity{
    color:white;
    width: 90%;
    margin-left:5%;
}

.user-active-edit{
    color:white;
}

.user-div{
    display: flex;
    justify-content: space-between;
    margin-top:1rem;
}

.jump-act{
    font-size:1.5rem;
    color:white;
}

.user-return{
    color:white;
    font-size:1.5rem;
}

.active-delete{
    border-radius: 1.5rem;
}

/*account.blade.php*/
.account-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.account-top-container{
    display: grid;
    grid-template-rows:5rem 4rem 3rem 3rem 3rem;
    grid-template-columns:12.5% 12.5% 15% 60%;
    grid-template-areas:
    "areaA areaB areaB areaG"
    "areaA areaC areaC areaG"
    "areaA areaD areaE areaH"
    "areaZ areaF areaI areaH"
    "areaZ areaU areaI areaH";
    border-bottom-style: dotted;
    border-bottom-color: white;
    border-bottom-width: 0.25rem;
}

.account-item-name{
    grid-area:areaB;
}

.account-item-profile-name{
    grid-area:areaC;
    display: flex;
}

.account-item-image{
    grid-area:areaA;
}

.account-image{
    width :8rem; 
    height:8rem;
    border-radius: 50%; 
    background-position: center; 
    border-style: solid;
    border-width: 0.25rem;
    border-color: white;
}

.account-item-sex{
    grid-area:areaD;
    display: inline-block;
}

.account-item-age{
    grid-area:areaE;
    display: inline-block;
}

.account-item-place{
    grid-area:areaF;
    display: inline-block;
}

.account-item-sport{
    grid-area:areaG;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    
}

.account-item-profile{
    grid-area:areaH;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
}

.account-item-chat{
    grid-area:areaZ;
}

.account-chat{
    color:white;
}


.account-name{
    margin:0.5rem 0;
    color:white;
}

.name-p{
    margin:0;
    color:white;
    font-size:0.75rem;
}

.second-name{
    margin:0 0 0 1rem;
    font-size:1rem;
    color:white;
}

.account-sex{
    margin:0.25rem 0;
    color:white;
}

.account-age{
    margin:0.25rem 0;
    color:white;
}

.account-place{
    margin:0.25rem 0;
    color:white;
}

.account-sport{
    margin:0.25rem 0;
    color:white;
}

.account-profile{
    margin:0.25rem 0;
    color:white;
}

.account-chat{
font-size:1.25rem;    
}

.account-info{
    font-size:0.75rem;
    color:white;
    margin:0;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
}

.account-btn{
    margin-top: 3rem;
    display:flex;
    justify-content: space-between;
    background-color: white;
    
    
}

.account-button{
    font-size:1.25rem;
    margin:0 2rem;
}

.account-menu-title{
    display: flex;
}

.account-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "areaA areaB";
    gap:1rem;
}

.account-active-title{
    margin:2rem 15rem;
    font-size:2rem;
    color:white;
}

.account-post-title{
    margin:2rem 15rem;
    font-size:2rem;
    color:white;
}

.account-active-image{
    width:90%;
    height:270px;
    margin-left: 5%;
    border-radius:1.5rem;
}

.account-active-subtitle{
    color:white;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
    margin:0.5rem 0;
}

.account-active-create{
    color:white;
}

.account-active-activity{
    color:white;
}

.account-active-container{
    display:grid;
    grid-template-rows:10rem 20rem;
    grid-template-columns:60% 40%;
    grid-template-areas:
    "areaA areaB"
    "areaA areaC";
    margin-bottom: 1rem;
    border-style: solid;
    border-color:white;
    border-width:0.25rem;
    border-radius: 1.5rem;
}

.account-active-item-create{
    grid-area:areaB;
     margin-left: 5%;
}

.account-active-item-image{
    grid-area:areaA;
     margin-left: 5%;
}

.account-active-item-activity{
    grid-area:areaC;
     margin-left: 5%;
}

.account-post-container{
    display:grid;
    grid-template-rows: 4rem 4rem 8rem 8rem 10rem 10rem;
    grid-template-columns:60% 40%;
    grid-template-areas:
    "areaA areaA"
    "areaB areaC"
    "areaB areaC"
    "areaB areaD"
    "areaE areaE"
    "areaF areaF";
    border-style: solid;
    border-color:white;
    border-width:0.25rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.account-post-item-clubname{
    grid-area:areaA;
    margin-left: 5%;
}

.account-post-item-image{
    grid-area:areaB;
    margin-left:5%;
}

.account-post-image{
    width:85%;
    height: 225px;
    margin-left: 5%;
    border-radius: 1.5rem;
}

.account-post-item-sport{
    grid-area:areaC;
}

.account-post-item-place{
    grid-area:areaD;
}

.account-post-item-activity{
    grid-area:areaE;
     margin-left: 5%;
}

.account-post-item-condition{
    grid-area:areaF;
     margin-left: 5%;
}

.account-post-subtitle{
    color:white;
    border-bottom-style:solid;
    border-width: 0.25rem;
    border-color: white;
    display: inline-block;
    margin:0.5rem 0;
}

.account-post-clubname{
    color:white;
}

.account-post-sport{
    color:white;
    margin:0.5rem 0;
}

.account-post-place{
    color:white;
}

.account-post-activity{
    color:white;
}

.account-post-condition{
    color:white;
    margin:0.5rem 0;
}

/*active.blade.php*/

.active-body{
    background-color: black;
    width:90%;
    margin:0 5%;
}

.active-top-contents{
    height: 400px;
    background-image:url(../img/active.jpeg);
    background-size: 25% 50%;
}

.active-title{
    font-size:7.5rem;
    text-align: center;
    padding-top:7rem;
    
}

.active-subtitle{
    font-size: 2rem;
    margin:0.5rem 0;
    color:white;
}

.active-container{
    display:grid;
    grid-template-rows:45% 45% 10%;
    height: 15rem;
    grid-template-areas:
    "areaA areaB areaC";
    margin-top:3rem;
}

.active-item-activity{
    grid-area:areaA;
}

.active-item-image{
    grid-area:areaB;
}

.active-item-save{
    grid-area:areaC;
}

.active-textarea{
    width: 70%;
    height: 7rem;
    border-radius: 1rem;
}

.active-input-image{
    background-color: white;
    height: 7rem;
    width: 90%;
    border-radius: 1rem;
}

.footer{
    margin-left: 70%;
}

.active-input{
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-top:4rem;
}

.account-return{
    font-size:1.5rem;
    color:white;
}

/*reactive.blade.php*/
.reactive-body{
    background-color: black;
    width:90%;
    margin:5%;
}

.reactive-top-contents{
    height: 400px;
    background-image:url(../img/reactive.jpeg);
    background-size: 25% 50%;
}

.reactive-title{
    font-size:7.5rem;
    text-align: center;
    padding-top:7rem;
    
}

.reactive-subtitle{
    font-size: 2rem;
    margin:0.5rem 0;
    color:white;
}

.reactive-container{
    display:grid;
    grid-template-rows:45% 45% 10%;
    height: 15rem;
    grid-template-areas:
    "areaA areaB areaC";
    margin-top:3rem;
}

.reactive-item-activity{
    grid-area:areaA;
}

.reactive-item-image{
    grid-area:areaB;
}

.reactive-item-save{
    grid-area:areaC;
}

.reactive-textarea{
    width: 70%;
    height: 7rem;
    border-radius: 1rem;
}

.reactive-input-image{
    background-color: white;
    height: 7rem;
    width: 70%;
    border-radius: 1rem;
}

.reactive-input{
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-top:4rem;
}
/*レスポンシブ*/

@media screen and (max-width:600px) {
    
    /*profile.blade.php*/
    .profile-body{
        width: 100%;
        margin:0;
    }
    
    .profile-top-contents{
        height: 10rem;
        background-size: 50% 50%;
        margin-left: 5%;
        width: 90%;
    }
    
    .profile-title{
        font-size:2rem;
        padding-top: 3.5rem;
    }
    
    .profile-container{
        display:flex;
        flex-flow: column;
    }
    
    .profile-subtitle{
        font-size:1.5rem;
    }
    
    .profile-textarea{
        width:90%;
        height: 6rem;
    }
    
    .profile-input-image{
        height: 3rem;
        width: 90%;
    }
    
    .profile-item-sport{
        margin-right: 0;
        margin-left: 10%;
    }
    
    .profile-item-image{
        margin-right: 0;
        margin-left: 10%;
    }
    
    .profile-item-place{
        margin-right: 0;
        margin-left: 10%;
    }
    
    .profile-item-keep{
        margin:2rem 0 0 10%;
    }
    
    .profile-footer{
        margin-top: 3rem;
    }
    
    
    /*remake.blade.php*/
    .remake-body{
        width: 100%;
        margin:0;
    }
    
    .remake-top-contents{
        height: 10rem;
        background-size: 50% 50%;
        margin-left: 5%;
        width: 90%;
    }
    
    .remake-title{
        font-size:2rem;
        padding-top: 3.5rem;
    }
    
    .remake-container{
        display:flex;
        flex-flow: column;
    }
    
    .remake-subtitle{
        font-size:1.5rem;
    }
    
    .remake-textarea{
        width:90%;
        height: 6rem;
    }
    
    .remake-input-image{
        height: 3rem;
        width: 90%;
    }
    
    .remake-item-sport{
        margin-right: 0;
        margin-left: 10%;
    }
    
    .remake-item-image{
        margin-right: 0;
        margin-left: 10%;
    }
    
    .remake-item-place{
        margin-right: 0;
        margin-left: 10%;
    }
    
    .remake-item-update{
        margin:2rem 0 0 10%;
    }
    
    .remake-footer{
        margin-top: 3rem;
    }
    
    /*active.blade.php*/
    
    .active-body{
        width: 100%;
        margin:0;
    }
    
    .active-top-contents{
        height: 10rem;
        background-size: 50% 50%;
        margin-left: 5%;
        width: 90%;
        
    }
    
    .active-title{
        font-size:2rem;
        padding-top: 3.5rem;
    }
    
    .active-container{
        display:flex;
        flex-flow: column;
    }
    
    .active-subtitle{
        font-size:1.5rem;
    }
    
    .active-textarea{
        width:90%;
        height: 6rem;
    }
    
    .active-item-activity{
        margin-left: 10%;
    }
    
    .active-item-image{
        margin-left:10%;
    }
    
    .active-input-image{
        height: 3rem;
        width: 90%;
    }
    
    .active-item-save{
        margin-left: 10%;
    }
    
    .footer{
        margin-top: 12rem;
        margin-left: 0;
    }
    
   
   /*reactive.blade.php*/
   .reactive-body{
        width: 100%;
        margin:0;
    }
    
    .reactive-top-contents{
        height: 10rem;
        background-size: 50% 50%;
        margin-left: 5%;
        width: 90%;
        margin-top: 1.5rem;
    }
    
    .reactive-title{
        font-size:2rem;
        padding-top: 3.5rem;
    }
    
    .reactive-container{
        display:flex;
        flex-flow: column;
    }
    
    .reactive-subtitle{
        font-size:1.5rem;
    }
    
    .reactive-textarea{
        width:90%;
        height: 6rem;
    }
    
    .reactive-item-activity{
        margin-left: 10%;
    }
    
    .reactive-item-image{
        margin-left:10%;
    }
    
    .reactive-input-image{
        height: 3rem;
        width: 90%;
    }
    
    .reactive-item-repost{
        margin-left: 10%;
    }
    
    /*member.blade.php*/
    
    
      .member-grid{
        display:flex;
        flex-flow: column;
        gap:1.25rem;
    }
    
    .member-top-title{
        height: 10rem;
        background-size: 50% 50%;
        margin-left: 5%;
        width: 90%;
    }
    
    .member-title{
        font-size:2rem;
        margin:0;
        padding-top:3.5rem;
    }
    
    .member-hit-title{
        font-size:1.25rem;
        margin:0.5rem 0;
    }
    
    .member-research{
        width:60%;
    }
    
    .member-container{
        display:grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows:2.5rem 1.5rem 12rem 12rem;
        grid-template-areas:
        "areaA areaB"
        "areaA areaC"
        "areaD areaD"
        "areaE areaE";
        width:80%;
        margin-left: 10%;
    }
    
    .member-profile-image{
        width :3rem; 
        height:3rem;
        
    }
    
    .member-active-create{
        font-size:0.75rem;
        margin:0.5rem 0;
    }
    
    .member-subtitle{
        font-size:1rem;
    }
    
    .member-image{
        width: 75%;
        height: 8.5rem;
    }
    
    /*user.blade.php*/
    
    .user-profile-container{
    display: grid;
    grid-template-rows:4rem 3rem 5rem 5rem 5rem 5rem 3rem;
    grid-template-columns:35% 65%;
    grid-template-areas:
        "areaA areaG"
        "areaA areaH"
        "areaB areaH"
        "areaC areaH"
        "areaD areaI"
        "areaE areaI"
        "areaF areaI";
    }
    
    .user-profile-image{
        height: 6.5rem;
        width: 6.5rem;
    }
    
    .user-profile-item-name{
        grid-area:areaG;
    }
    
    .user-profile-item-image{
        grid-area:areaA;
    }
    
    .user-profile-item-sex{
        grid-area:areaC;
    }
    
    .user-profile-item-age{
         grid-area:areaD; 
    }
    
    .user-profile-item-sport{
       grid-area:areaH;
    }
    
    .user-profile-item-profile{
        grid-area:areaI;
    }
    
    .user-profile-item-place{
        grid-area:areaE;
    }
    
    .user-profile-item-edit{
        grid-area:areaB;
    }
    
    .user-profile-item-active{
        grid-area:areaF; 
        margin-left:0;
    }
    
    .user-profile-name{
        margin:0;
        font-size:1.25rem;
    }
    
    .user-profile-edit{
        font-size:0.75rem;
    }
    
    .user-profile-sport{
        font-size:0.75rem;
    }
    
    .user-profile-profile{
        font-size:0.75rem;    
    }
    
    .back-index{
        font-size:1rem;
    }
    
    .jump-act{
        font-size:0.9rem;
    }
    
    .user-main-title{
        font-size:1.5rem;
    }
    
    .user-main-contents{
        display:flex;
        flex-flow: column;
    }
    
    .user-active-container{
    
        grid-template-rows:4rem 13rem 12rem 3rem;
    }
    
    .user-create-subtitle{
        font-size:1rem;
    }
    
    .user-active-create{
        margin:0;  
    }
    
    .user-active-subtitle{
        font-size:1rem;
    }
    
    .user-active-image{
        width:75%;
        height: 10rem;
    }
    
    .user-active-activity{
        margin:0.5rem;
        font-size:0.8rem;
        
    }
    
    .user-active-item-delete{
        margin-left: 55%;
    }
    
    /*account.blade.php*/
    
    .account-top-container{
        display: grid;
        grid-template-rows:8rem 3rem 4rem 4rem 4rem 4rem 4rem;
        grid-template-columns:35% 65%;
        grid-template-areas:
        "areaA areaG"
        "areaB areaG"
        "areaC areaG"
        "areaD areaH"
        "areaE areaH"
        "areaF areaH"
        "areaI areaH";
        border-bottom-style: dotted;
        border-bottom-color: white;
        border-bottom-width: 0.25rem;
    }
    
    .account-image{
        width: 6rem;
        height: 6rem;
    }
    
    .account-name{
        font-size:1rem;
    }
    
    .account-item-image{
        grid-area:areaA;
    }
    
    .account-item-name{
        grid-area:areaB;
    }
    
    .account-item-profile-name{
        grid-area:areaC;
        display: block;
    }
    
    .account-item-sex{
        grid-area:areaD;
    }
    .account-item-age{
        grid-area:areaE;
    }
    
    .account-item-place{
        grid-area:areaF;
    }
    
    .account-item-sport{
        grid-area:areaG;
    }
    
    .account-item-profile{
        grid-area:areaH;
    }
    
    .account-item-chat{
        grid-area:areaI;
    }
    
    .second-name{
        font-size:0.75rem;
    }
    
    .account-sport{
        font-size:0.75rem;
    }
    
    .account-profile{
        font-size:0.75rem;
    }
    
    .account-btn{
        margin-top: 3rem;
        display:flex;
        justify-content: space-between;
        background-color: white;
    }

    .account-button{
        font-size:0.7rem;
        margin:1.5px;
    }
    
    .account-chat{
        font-size:1rem;
    }
        
    .account-grid{
        display:flex;
        flex-flow: column;
    }
    
   .account-active-title{
       display: none;
   }
   
   .account-post-title{
       display: none;
   }
   
   .account-post-image{
       height: 10rem;
   }
   
    .account-active-container{
        display:flex;
        flex-flow: column;
    }
    
    .account-active-container{
        display:flex;
        flex-flow: column;
    }
    
    .account-active-title{
       display: none;
   }
   
   .account-post-title{
       display: none;
   }
   
   .account-post-image{
       height: 10rem;
   }
   
    .account-active-container{
        display:flex;
        flex-flow: column;
    }
    
    .account-active-container{
        display:flex;
        flex-flow: column;
    }
    
    .account-post-activity{
        font-size:0.8rem;
    }
    
    .account-post-condition{
        font-size:0.8rem;
    }
    
    .account-post-container{
        display:grid;
        grid-template-rows: 4rem 4rem 8rem 8rem 12rem 12rem;
    }
}   
    /*タブレット・小型PC*/

  @media only screen and (min-width:601px) and (max-width:1280px) {
      
  /*profile.blade.php*/
  
    .profile-top-contents{
        height: 300px;
        background-size: 33% 50%;
        margin-top:0;
    }
  
    .profile-title{
        font-size:3.5rem;
        padding-top: 3.75rem;
    }
  

    br{
        display: inline;
    }
    
    .profile-subtitle{
        font-size:1.75rem;
    }
    
    .profile-item-name{
        margin-top: 2.7rem;
        margin-left:0;
    }
    
    .profile-item-sport{
        margin-right: 0;
    }
    
    .profile-item-profile{
        margin-left: 0;
    }
    
    .profile-item-image{
        margin-right: 0;
    }
    
    .radio-name{
        font-size:1rem;
    }
    
    .profile-item-age{
        margin-left: 0;
    }
    
    .profile-item-place{
        margin-right: 0;
    }
    
    .profile-item-sex{
        margin-left: 0;    
    }
    
    /*remkae.blade.php*/
    
    .remake-top-contents{
        height: 300px;
        background-size: 33% 50%;
        margin-top:0;
    }
  
    .remake-title{
        font-size:3.5rem;
        padding-top:6rem;
    }
  
    .remake-subtitle{
        font-size:1.75rem;
    }
    
    .remake-item-name{
        margin-top: 2.7rem;
        margin-left:0;
    }
    
    .remake-item-sport{
        margin-right: 0;
    }
    
    .remake-item-profile{
        margin-left: 0;
    }
    
    .remake-item-image{
        margin-right: 0;
    }
    
    
    .remake-item-age{
        margin-left: 0;
    }
    
    .remake-item-place{
        margin-right: 0;
    }
    
    .remake-item-sex{
        margin-left: 0;    
    }
    
    /*active.blade.php*/
    
    .active-top-contents{
        height:300px;
        background-size:33% 50%;
    }
    
    .active-title{
        font-size:4rem;
        margin:2rem 0;
        padding-top: 6rem;
    }
      
    .active-subtitle{
        font-size:1.75rem;    
    }  
    
    .active-input-image{
        width:7rem;
        height:5rem;
    }
      
    .active-input{
        margin-top:7rem;
    }  
      
    /*reactive.blade.php*/
    
    .reactive-top-contents{
        height:300px;
        background-size:33% 50%;
    }
    
    .reactive-title{
        font-size:4rem;
        margin:2rem 0;
        padding-top: 6rem;
    }
      
    .reactive-subtitle{
        font-size:1.75rem;    
    }  
    
    .reactive-input-image{
        width:7rem;
        height:5rem;
    }
      
    .reactive-input{
        margin-top:7rem;
    }  
    
    
    /*user.blade.php*/
    
    .user-main-contents{
        grid-template-columns:1fr 1fr;
    }
    
    .user-active-edit-p{
        font-size:0.8rem;
    }
    
    .user-active-image{
        height: 12rem;    
    }
    
    .user-active-activity{
        font-size:0.8rem;
    }
    
    .user-active-container{
        grid-template-rows:5rem 15rem 15rem 3rem;
    }
    
    .user-profile-container{
    display: grid;
    grid-template-rows:4rem 5rem 5rem 5rem 5rem;
    grid-template-columns:25% 25% 50%;
    grid-template-areas:
        "areaA areaB areaB"
        "areaA areaZ areaH"
        "areaC areaD areaH"
        "areaE areaF areaI"
        "areaG areaG areaI";
        border-bottom-style:dotted;
        border-width: 0.25rem;
        border-color: white;
    }
    
    .user-profile-sport{
        font-size:0.75rem;    
    }
    
    .user-profile-profile{
        font-size:0.75rem;
    }
    
    .user-profile-item-name{
        grid-area:areaB;
    }
    
    .user-profile-item-image{
        grid-area:areaA;
    }
    
    .user-profile-item-sex{
        grid-area:areaD;
    }
    
    .user-profile-item-age{
         grid-area:areaF; 
    }
    
    .user-profile-item-sport{
       grid-area:areaH;
    }
    
    .user-profile-item-profile{
        grid-area:areaI;
    }
    
    .user-profile-item-place{
        grid-area:areaE;
    }
    
    .user-profile-item-edit{
        grid-area:areaC;
    }
    
    .user-profile-item-active{
        grid-area:areaG; 
        margin-left: 0;
    }
    
    .user-profile-edit{
        font-size:0.8rem;    
    }
    
    .user-profile-name{
        margin-left: 10%;    
    }
    
    /*member.blade.php*/
    
    .member-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:1rem;
    }

    .member-title{
        font-size:4rem;
        padding-top:6rem;
    }
    
    .member-top-title{
        height:300px;
        background-size:33% 50%;
    }
    
    /*account.blade.php*/
    .account-grid{
        display:flex;
        flex-flow: column;
    }
    
    .account-active-title{
        margin:0;
    }
    
    .account-post-title{
        margin:0;
    }
    
    .account-active-activity{
        font-size:0.9rem;    
    }
    
    .account-post-activity{
        font-size:0.9rem;
    }
    
    .account-post-condition{
        font-size:0.9rem;
    }
    
    .account-button{
        font-size:1rem;
        margin:0 2rem;
    }
    
    .account-top-container{
        grid-template-rows:9rem 5rem 4rem 4rem 5rem;
        grid-template-columns:20% 20% 60%;
        grid-template-areas:
        "areaA areaA areaH"
        "areaB areaB areaH"
        "areaC areaD areaI"
        "areaE areaF areaI"
        "areaG areaG areaI";
    }
    
     .account-item-image{
        grid-area:areaA;
    }
    
    .account-item-name{
        grid-area:areaB;
    }
    
    .account-item-profile-name{
        grid-area:areaC;
        display: block;
    }
    
    .account-item-sex{
        grid-area:areaD;
    }
    .account-item-age{
        grid-area:areaE;
    }
    
    .account-item-place{
        grid-area:areaF;
    }
    
    .account-item-sport{
        grid-area:areaH;
    }
    
    .account-item-profile{
        grid-area:areaI;
    }
    
    .account-item-chat{
        grid-area:areaG;
    }
    
    .account-name{
        font-size:1.5rem;
    }
    
}    
